$primary: #483a1d;
$secondary: #ede0c5;

$block-one: #5ab1bb;
$block-two: #094d92;
$block-three: #861388;

$header-closed-height: 4rem;
$header-open-height: 12.5rem;

$title-top: 2.7em;
$title-left: .5em;

$transition-length: 500ms;